[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mss = "*"
opencv-python = "*"
numpy = "*"
pillow = "*"
bidict = "*"

[dev-packages]

[requires]
python_version = "3.12"
